body {
  line-height: var(--op-line-height-densest);
}

a {
  text-decoration: none !important;
}

.app-container {
  padding: var(--op-space-x-small) var(--op-space-x-large) var(--op-space-x-large) var(--op-space-x-large);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 129rem;
  margin-inline: auto;

  @media only screen and (max-width: $breakpoint-small) {
    padding-left: 0;
    padding-right: 0;
  }
}
