.context-menu data-controller='context-menu'
  button.context-menu__toggle.padding-inline-none {
    data-testid="#{locals[:name]}-menu-button"
    type='button'
    data-action='click->context-menu#toggle click@window->context-menu#hide'}
    - if locals[:toggle].present?
      = locals[:toggle]
    - else
      = icon(locals[:icon], classes: 'icon--large')

  .context-menu__dropdown.context-menu__dropdown--closed{
    data-testid="#{locals[:name]}-menu-dropdown"
    data-context-menu-target='menu'
    data-transition-enter-from='context-menu__dropdown--enter-from'
    data-transition-enter-to='context-menu__dropdown--enter-to'
    data-transition-leave-from='context-menu__dropdown--leave-from'
    data-transition-leave-to='context-menu__dropdown--leave-to'}

    = yield
