= turbo_stream.replace "upload-image", partial: 'image_uploader', locals: {\
  resource: @day,
  memory: @memories.first,
  delete_path: delete_image_attachment_day_path(@day),
  upload_path: add_image_attachment_day_path(@day)}

= turbo_stream.update "day-widget-#{@day.date.yday}", partial: 'widget', locals: { day: @day }
