@mixin secondary-semantic-scale {
  --op-color-secondary-original: hsl(var(--op-color-secondary-h) var(--op-color-secondary-s) var(--op-color-secondary-l));

  // At the moment, the full scale is not needed
}

@mixin background {
  --op-color-background: var(--op-color-neutral-plus-six);
  --op-color-on-background: var(--op-color-neutral-on-plus-six);
  --op-color-on-background-alt: var(--op-color-neutral-on-plus-six-alt);
}

:root {
  @include secondary-semantic-scale;

  @include background;
}
