%btn-global {
  border-radius: var(--op-radius-large);
  background-color: var(--op-color-neutral-plus-seven);

  &:hover {
    background-color: var(--op-color-neutral-plus-five);
  }

  &.btn--no-background {
    background-color: transparent;
    box-shadow: none;
    color: var(--op-color-neutral-plus-max);
  }

  &.btn--no-background.btn-primary {
    &.btn--active {
      color: var(--op-color-primary-base);
    }

    &:hover {
      color: var(--op-color-primary-plus-one);
    }

    &:focus-visible {
      background-color: var(--op-color-primary-plus-eight);
      box-shadow: var(--op-input-focus-primary);
      color: var(--op-color-primary-plus-one);
    }
  }
}

.btn-primary {
  background-color: var(--op-color-primary-base);
  color: var(--op-color-neutral-on-base);

  &:hover {
    color: var(--op-color-primary-on-plus-one);
    background-color: var(--op-color-primary-plus-one);
  }

  &.btn--no-border {
    // Borderless + Active State
    &.btn--active {
      background-color: var(--op-color-primary-minus-one);
      box-shadow: inset var(--op-border-all) var(--op-color-primary-plus-five);
      color: var(--op-color-primary-on-minus-one);
    }

    // Borderless + Hover State
    &:hover {
      background-color: var(--op-color-primary-base);
      box-shadow: inset var(--op-border-all) var(--op-color-primary-plus-five);
      color: var(--op-color-primary-on-base);
    }
  }
}

.btn--x-small {
  --__op-btn-height: var(--_op-btn-height-x-small);
  --__op-btn-font-size: var(--_op-btn-font-x-small);
  --__op-btn-padding: var(--_op-btn-padding-x-small);
}

.btn-warning {
  @extend %btn-global;

  background-color: var(--op-color-alerts-warning-base);
  box-shadow: inset var(--op-border-all) var(--op-color-alerts-warning-base);
  color: var(--op-color-alerts-warning-on-base);

  // Active State
  &.btn--active {
    background-color: var(--op-color-alerts-warning-plus-five);
    box-shadow: inset var(--op-border-all) var(--op-color-alerts-warning-plus-three);
    color: var(--op-color-alerts-warning-on-plus-five);
  }

  // Hover State
  &:hover {
    background-color: var(--op-color-alerts-warning-minus-two);
    box-shadow: inset var(--op-border-all) var(--op-color-alerts-warning-minus-two);
    color: var(--op-color-alerts-warning-on-minus-two);
  }

  // Focus State
  &:focus-visible {
    background-color: var(--op-color-alerts-warning-base);
    box-shadow: var(--op-input-focus-warning);
    color: var(--op-color-alerts-warning-on-base);
  }
}

.btn-notice {
  @extend %btn-global;

  background-color: var(--op-color-alerts-notice-base);
  box-shadow: inset var(--op-border-all) var(--op-color-alerts-notice-base);
  color: var(--op-color-alerts-notice-on-base);

  // Active State
  &.btn--active {
    background-color: var(--op-color-alerts-notice-plus-five);
    box-shadow: inset var(--op-border-all) var(--op-color-alerts-notice-plus-three);
    color: var(--op-color-alerts-notice-on-plus-five);
  }

  // Hover State
  &:hover {
    background-color: var(--op-color-alerts-notice-minus-two);
    box-shadow: inset var(--op-border-all) var(--op-color-alerts-notice-minus-two);
    color: var(--op-color-alerts-notice-on-minus-two);
  }

  // Focus State
  &:focus-visible {
    background-color: var(--op-color-alerts-notice-base);
    box-shadow: var(--op-input-focus-notice);
    color: var(--op-color-alerts-notice-on-base);
  }
}

.btn-info {
  @extend %btn-global;

  background-color: var(--op-color-alerts-info-base);
  box-shadow: inset var(--op-border-all) var(--op-color-alerts-info-base);
  color: var(--op-color-alerts-info-on-base);

  // Active State
  &.btn--active {
    background-color: var(--op-color-alerts-info-plus-five);
    box-shadow: inset var(--op-border-all) var(--op-color-alerts-info-plus-three);
    color: var(--op-color-alerts-info-on-plus-five);
  }

  // Hover State
  &:hover {
    background-color: var(--op-color-alerts-info-minus-two);
    box-shadow: inset var(--op-border-all) var(--op-color-alerts-info-minus-two);
    color: var(--op-color-alerts-info-on-minus-two);
  }

  // Focus State
  &:focus-visible {
    background-color: var(--op-color-alerts-info-base);
    box-shadow: var(--op-input-focus-info);
    color: var(--op-color-alerts-info-on-base);
  }
}

.sign-in-with-google-button {
  padding: 0;

  @media only screen and (max-width: $breakpoint-small) {
    display: none;
  }
}

.sign-in-with-google-icon {
  padding: 0;
  display: none;

  img {
    min-height: var(--op-space-4x-large);
    min-width: var(--op-space-4x-large);
  }

  @media only screen and (max-width: $breakpoint-small) {
    display: inline-block;
  }
}
