.card--padded {
  .card__header {
    padding: 0;
  }
  --_op-card-padding: var(--op-space-small);
}

.card {
  background-color: var(--op-color-neutral-plus-max);
  border-radius: var(--op-radius-2x-large);
}

.card__header {
  color: var(--op-color-primary-base);
  font-weight: var(--op-font-weight-bold);
}

.card--white {
  background-color: var(--op-color-neutral-plus-max);
}
