.panel {
  --op-panel-width: 30%;
  --op-transition-panel: left 150ms ease-in;

  left: calc(-1 * var(--op-panel-width)); // this pushes the panel off the sceen to the right
  height: 80vh;
  top: 10vh;

  border: var(--op-border-width-large) solid var(--op-color-primary-base);
  border-left: none;
  box-shadow: var(--op-color-primary-base) 0px 20px 30px -10px;
  background-color: var(--op-color-neutral-plus-max);
  border-radius: 0 var(--op-radius-large) var(--op-radius-large) 0;
}

.panel--active {
  left: 0;
}

#panel-header {
  h2 { margin: 0; }
}

#panel-header, #panel-content, #panel-footer {
  padding: var(--op-space-small);
}

#panel-content {

}
