@import "trix/dist/trix";

// We need to override trix.css’s image gallery styles to accommodate the
// <action-text-attachment> element we wrap around attachments. Otherwise,
// images in galleries will be squished by the max-width: 33%; rule.
.trix-content {
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}

.trix-content {
  border-radius: var(--op-radius-large);
}
.trix-button-row {
  .trix-button-group {
    border-radius: var(--op-radius-medium);
    border-color: var(--op-color-neutral-plus-four);

    .trix-button {
      --op-trix-icon-button-height: 2.8rem;
      --op-trix-icon-button-width: 4rem;
      height: var(--op-trix-icon-button-height);
      width: var(--op-trix-icon-button-width);
      color: var(--op-color-neutral-on-plus-eight);

      &:disabled {
        opacity: .5;
      }
    }
  }
}

.trix-content--line-measurement-container {
  --standard-page-width: 8.5in;
  --page-horizontal-padding: calc(2 * 64px);

  width: calc(var(--standard-page-width) - var(--page-horizontal-padding));
  font-size: var(--op-font-medium);
  visibility: hidden;
}
