.badge {
  width: var(--op-space-4x-large);
  height: var(--op-space-4x-large);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--op-space-x-small);

  color: var(--badge-color);
  background-color: transparent;

  border-radius: 100%;
  border-width: 1.5px;
  border-style: solid;

  text-decoration: none;
  transition: 0.2s;

  font-size: var(--op-font-2x-large);

  &.badge--new {
    color: var(--op-color-neutral-base);
    border-style: dashed;

    &:hover {
      background-color: var(--op-color-neutral-plus-five);
      cursor: pointer;
    }
  }

  &.badge--small {
    width: var(--op-space-3x-large);
    height: var(--op-space-3x-large);
    font-size: var(--op-font-x-large);
  }

  &.badge--large {
    width: calc(var(--op-space-4x-large) + var(--op-space-small));
    height: calc(var(--op-space-4x-large) + var(--op-space-small));
    font-size: var(--op-font-4x-large);
    border-width: 2px;
  }

  &.badge--x-large {
    width: calc(var(--op-space-4x-large) + var(--op-space-large));
    height: calc(var(--op-space-4x-large) + var(--op-space-large));
    border-width: 2px;
    font-size: var(--op-font-5x-large);
  }

  &.badge--clickable {
    &:hover {
      background-color: var(--badge-color);
      opacity: 0.5;
      color: white;
      cursor: pointer;
    }
  }

  &.badge--deletable {
    position: relative;
    cursor: pointer;
    pointer-events: all;

    &:hover {
      &::after {
        visibility: visible;
      }
    }

    &::after {
      visibility: hidden;
      pointer-events: all;
      position: absolute;
      font-family: $ti-font-family;
      content: $ti-icon-trash;
      background-color: var(--op-color-alerts-danger-plus-seven);
      color: var(--op-color-alerts-danger-on-plus-seven);
      font-size: var(--op-font-small);
      padding: var(--op-space-3x-small);
      border-radius: 50%;
      top: -10px;
      right: -10px;
    }
  }
}

a:has(.badge--deletable), button:has(.badge--deletable) {
  pointer-events: none;
}
