.app-container {
  padding: var(--op-space-x-large);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 140rem;
  background-color: var(--op-color-neutral-plus-six);
}
