body {
  background-color: var(--op-color-neutral-plus-six);
}

.app-container {
  padding: var(--op-space-x-small) var(--op-space-x-large) var(--op-space-x-large) var(--op-space-x-large);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 140rem;
  margin-inline: auto;
}
