// Memory Collection

.be-real-memory-collection {
  display: flex;
  flex-wrap: wrap;
  gap: var(--op-space-small);
}

// Memory

.be-real-memory {
  --_memory-height: calc(var(--op-size-unit) * 100); // 400px
  --_memory-secondary-height: calc(var(--op-size-unit) * 35); // 140px

  position: relative;

  // Elements

  .be-real-memory__primary {
    aspect-ratio: 3 / 4;
    height: var(--_memory-height);
    border-radius: var(--op-radius-2x-large);
  }

  .be-real-memory__secondary {
    position: absolute;
    top: var(--op-space-medium);
    left: var(--op-space-medium);

    aspect-ratio: 3 / 4;
    height: var(--_memory-secondary-height);
    border-radius: var(--op-radius-2x-large);
    border: var(--op-border-width-large) solid var(--op-color-neutral-minus-max);
  }
}
