.btn--no-bg {
  background-color: unset;

  &:hover {
    background-color: unset;

    .icon {
      color: var(--op-color-primary-base) !important;
    }
  }
}

.btn-primary {
  &.btn--text {
    color: var(--op-color-primary-base);
    background-color: unset;

    &:not(:disabled, .btn--disabled):hover {
      background-color: var(--op-color-primary-base);
      color: var(--op-color-neutral-plus-max);
      box-shadow: inset var(--op-border-all) var(--op-color-primary-plus-five);
    }
  }
}
