.day {
  --size: 4.2rem;

  width: var(--size);
  height: var(--size);
  border-radius: 14px;
  display: flex;
  background-color: var(--op-color-transparent-6);
  align-items: center;
  justify-content: center;
  color: var(--op-color-neutral-minus-five);
  position: relative;
  align-self: center;
  justify-self: center;
  font-family: "Jersey 25";
  font-size: var(--op-font-large);
  overflow: hidden;

  &:hover {
    background-color: var(--op-color-primary-plus-six);
    border: dashed var(--op-border-width-large) var(--op-color-primary-plus-two);
  }

  &.day--current {
    border: dashed var(--op-border-width-large) var(--op-color-primary-plus-six);
    background-color: var(--op-color-primary-base);
    color: var(--op-color-neutral-plus-max);
  }

  &.day--future {
    border: none;
    color: var(--op-color-neutral-plus-one);
  }

  .day__background-image {
    position: absolute;
    width: var(--size);
    height: var(--size);
    z-index: 1;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .day__number--on-image {
    color: var(--op-color-neutral-plus-max);
  }

  .day__number {
    z-index: 2;
  }
}

.day__wrapper {
  position: relative;
  padding: 4px;
  width: 100%;
}

.day__wrapper--highlighted {
  .day {
    border: var(--op-border-width-large) solid var(--op-color-alerts-warning-plus-three);
    filter: sepia(60%);
  }
}

.day__wrapper--no-entry {
  filter: grayscale(var(--value, 100%));
}

.day__preview {
  display: flex;
  justify-content: center;
  align-items: center;

  .day {
    --size: calc(var(--op-space-4x-large) + var(--op-space-large));
    font-size: var(--op-font-3x-large);
  }
}

.day-badges {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 2px;
  left: 0;
  top: -2px;
  width: 100%;
  z-index: 5;
}

.day-badges--during-event {
  justify-content: flex-end;
}

.day-badge-indicator {
  background-color: var(--badge-fill-color);
  color: var(--badge-color);
  font-size: var(--op-font-small);
  border-radius: 50%;
  padding: 1px;
  display: flex;
  align-items: center;
  width: 14px;
  height: 14px;
}

.day-note-indicator {
  position: absolute;
  background-color: var(--op-color-primary-plus-six);
  border-radius: 50%;
  font-size: var(--op-font-small);
  padding: 1px;
  z-index: 4;
  left: -2px;
  top: -2px;
}

.day-long-note-indicator {
  background-color: var(--op-color-alerts-notice-plus-six);
  left: 16px;
}
