.day {
  --size: 3.8rem;

  width: var(--size);
  height: var(--size);
  border-radius: 14px;
  display: flex;
  background-color: var(--op-color-neutral-plus-six);
  align-items: center;
  justify-content: center;
  font-weight: var(--op-font-weight-semi-bold);
  color: var(--op-color-neutral-base);
  border: solid 1px var(--op-color-primary-plus-four);
  position: relative;
  align-self: center;
  justify-self: center;
  font-family: "Jersey 25";
  font-size: var(--op-font-large);
  overflow: hidden;

  &:hover {
    background-color: var(--op-color-primary-plus-six);
    border: dashed var(--op-border-width-large) var(--op-color-primary-plus-two);
  }

  &.day--current {
    border: dashed var(--op-border-width-large) var(--op-color-primary-plus-six);
    background-color: var(--op-color-primary-base);
    color: var(--op-color-neutral-plus-max);
  }

  &.day--future {
    border: none;
    background-color: var(--op-color-neutral-plus-seven);
    color: var(--op-color-neutral-plus-two);
  }

  .day__background-image {
    position: absolute;
    width: var(--size);
    height: var(--size);
    z-index: 1;
  }

  .day__number--on-image {
    color: var(--op-color-neutral-plus-max);
  }

  .day__number {
    z-index: 2;
  }
}

.day__wrapper {
  position: relative;
}

.day-note-indicator {
  position: absolute;
  background-color: var(--op-color-primary-plus-six);
  border-radius: 50%;
  padding: 1px;
  z-index: 4;
  left: -8px;
  top: -8px;
}

.day-short-note-indicator {
}

.day-long-note-indicator {
  background-color: var(--op-color-alerts-notice-plus-six);
  left: 10px;
}
