.day-popup {
  --hardcoded-width: 385px;
  --hardcoded-height: 250px;
  z-index: 10;
  width: var(--hardcoded-width); // make loading stage less jumpy
  min-height: var(--hardcoded-height); // make loading stage less jumpy
  position: absolute;
  padding: var(--op-space-2x-small) var(--op-space-x-small);
  box-shadow: var(--op-shadow-large);
  background-color: var(--op-color-neutral-plus-max);
  border-radius: var(--op-radius-2x-large) var(--op-radius-large) var(--op-radius-large) var(--op-radius-large);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 9999px; box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 9999px;
  border: solid var(--op-border-width) var(--op-color-primary-base);
  display: flex;
  flex-direction: column;
  gap: var(--op-space-2x-small);

  button.day {
    margin-left: -5px;
    margin-top: -1px;
  }

  .form__error {
    max-width: calc(calc(var(--hardcoded-width) / 2) - var(--op-space-x-large));
  }

  trix-toolbar { display: none; }
  trix-editor {
    height: 200px;
    padding: var(--op-space-x-small);
    background-color: var(--op-color-neutral-plus-seven);
    overflow-y: auto;
  }
}

.animate__animated.animate__zoomIn, .animate__animated.animate__zoomOut {
  --animate-duration: 0.15s;
}
