.day-popup {
  --hardcoded-height: 28.8rem;
  --hardcoded-width: 385px;
  --hardcoded-max-width: 65rem;
  --padding: var(--op-space-medium);

  z-index: 10;
  width: calc(100vw - (var(--padding) * 2));
  bottom: var(--padding);
  left: var(--padding);
  max-width: var(--hardcoded-max-width);
  position: fixed;

  padding: var(--op-space-3x-small) var(--op-space-small) var(--op-space-x-small) var(--op-space-x-small);
  box-shadow: var(--op-color-primary-base) 0px 20px 30px -10px;
  background-color: var(--op-color-neutral-plus-max);
  border-radius: var(--op-radius-2x-large);
  border: var(--op-border-width-large) solid var(--op-color-primary-base);

  display: flex;
  flex-direction: column;
  gap: var(--op-space-2x-small);

  .form__error {
    max-width: calc(calc(var(--hardcoded-width) / 2) - var(--op-space-x-large));
  }

  trix-toolbar { display: none; }
  trix-editor {
    border-radius: var(--op-radius-large);
    width: 100%;
    height: var(--hardcoded-height);
    padding: var(--op-space-x-small);
    line-height: var(--op-line-height-dense);
    background-color: var(--op-color-neutral-plus-seven);
    overflow-y: auto;

    &:focus-visible {
      outline: none;
      box-shadow: var(--op-border-all) var(--op-color-neutral-plus-four);
    }
  }

  @media only screen and (max-width: $breakpoint-small) {
    width: 100%;
    padding: var(--op-space-3x-small) var(--op-space-x-small) var(--op-space-x-small) var(--op-space-x-small);
    left: 0;
  }
}

.animate__animated.animate__zoomIn, .animate__animated.animate__zoomOut {
  --animate-duration: 0.15s;
}

.day-popup__header-wrapper {
  display: flex;
  justify-content: center;
  height: 0;
}

.day-popup__header {
  background-color: var(--op-color-primary-base);
  color: var(--op-color-primary-plus-seven);
  transform: translateY(-29px);
  height: 26px;
  padding: var(--op-space-2x-small) var(--op-space-x-small);
  border-radius: var(--op-radius-medium) var(--op-radius-medium) 0 0;
}

.day-popup-title, .day-popup__photo {
  @media only screen and (max-width: $breakpoint-small) {
    display: none;
  }
}

.day-popup__body {
  display: flex;
  gap: var(--op-space-small);

  @media only screen and (max-width: $breakpoint-small) {
    gap: 0;
  }
}
