.day-popup {
  --editor-hardcoded-height: 28.8rem;
  --hardcoded-width: 385px;
  --hardcoded-max-width: 80rem;
  --padding: var(--op-space-medium);

  z-index: 10;
  width: calc((100vw - (var(--padding) * 2)) / 2);
  bottom: var(--padding);
  left: var(--padding);
  max-width: var(--hardcoded-max-width);
  position: fixed;
  height: auto;

  padding: var(--op-space-3x-small) var(--op-space-x-small) var(--op-space-x-small) var(--op-space-x-small);
  box-shadow: var(--op-color-primary-base) 0px 20px 30px -10px;
  background-color: var(--op-color-neutral-plus-nine);
  border-radius: var(--op-radius-2x-large);
  border: var(--op-border-width-large) solid var(--op-color-primary-base);

  display: flex;
  flex-direction: column;
  gap: var(--op-space-2x-small);

  .form__error {
    max-width: calc(calc(var(--hardcoded-width) / 2) - var(--op-space-x-large));
  }

  trix-toolbar { display: none; }
  trix-editor {
    border-radius: var(--op-radius-large);
    width: 100%;
    height: var(--editor-hardcoded-height);
    padding: var(--op-space-x-small);
    line-height: var(--op-line-height-dense);
    background-color: var(--op-color-neutral-plus-seven);
    overflow-y: auto;
    padding-bottom: 6rem;

    &:focus-visible {
      outline: none;
      box-shadow: var(--op-border-all) var(--op-color-neutral-plus-four);
    }
  }

  /* --op-breakpoint-small */
  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: var(--op-space-3x-small) var(--op-space-x-small) var(--op-space-x-small) var(--op-space-x-small);
    left: 0;
    border: var(--op-border-width-large) solid var(--op-color-neutral-plus-six);
    box-shadow: var(--op-shadow-large);

    trix-editor {
      background-color: unset;
      border: unset;

      &:focus-visible {
        outline: none;
        box-shadow: none;
      }
    }
  }

  /* --op-breakpoint-small */
  @media only screen and (min-width: 768px) {
    min-width: 65rem;
  }
}

.animate__animated {
  --animate-duration: 0.7s;
}

.animate__animated.animate__zoomOut {
  --animate-duration: 0.15s;
}

.day-popup__header-wrapper {
  display: flex;
  justify-content: center;
  height: 0;
}

.day-popup__photo {
  width: 215px;
  height: 100%;
  position: relative;

  &.day-popup__photo--deletable {
    &:hover {
      cursor: pointer;

      &::after {
        visibility: visible;
      }
    }

    &::after {
      background-color: var(--op-color-alerts-danger-plus-seven);
      color: var(--op-color-alerts-danger-on-plus-seven);
      visibility: hidden;
      position: absolute;
      font-size: var(--op-font-small);
      padding: var(--op-space-3x-small);
      border-radius: 50%;
      top: -10px;
      right: -10px;
    }
  }

  .delete-image-button {
    position: absolute;
    bottom: var(--op-space-small);
    right: var(--op-space-small);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: var(--op-color-primary-base);
    border-radius: var(--op-radius-2x-large);
    color: var(--op-color-neutral-plus-max);
    font-size: var(--op-font-large);

    &:hover {
      background-color: var(--op-color-primary-minus-one);
      color: var(--op-color-primary-on-minus-one);
    }
  }

  /* --op-breakpoint-small */
  @media (width < 768px) {
    display: none;
  }
}

.day-popup__mobile-photo {
  position: absolute;
  bottom: var(--op-space-medium);
  left: var(--op-space-medium);
}

.day-popup__photo-floating {
  float: left;
  padding-right: var(--op-space-small);
}

.day-popup__photo-template {
  width: 200px;
  height: 100%;
  border: 2x dashed var(--op-color-neutral-plus-eight);
  border-radius: var(--op-radius-medium);
}

.day-popup__header {
  backdrop-filter: blur(3rem);
  background-color: rgba(239, 239, 239, 0.62);
  color: var(--op-color-neutral-minus-max);
  transform: translateY(-38px);
  height: 30px;
  padding: 0;
  border-radius: var(--op-radius-medium);
  transition: all 300ms ease-in-out;
  display: flex;
  align-items:center;
}

.day-popup-title {
  /* --op-breakpoint-small */
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.day-popup__body {
  display: flex;
  gap: var(--op-space-x-small);

  /* --op-breakpoint-small */
  @media only screen and (max-width: 768px) {
    gap: 0;
  }
}

.day-popup__save {
  position: absolute;
  transform: translateX(-4.5rem) translateY(-0.5rem);
  bottom: 1.4rem;

  /* --op-breakpoint-small */
  @media only screen and (max-width: 768px) {
    display: flex;
    gap: var(--op-space-x-small);
    transform: translateX(-6.5rem) translateY(-0.5rem);
    bottom: var(--op-space-x-small);
  }
}

.day-popup__event-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--op-space-2x-small);
  border-radius: var(--op-radius-large);
  background-color: var(--op-color-neutral-plus-seven);
  gap: var(--op-space-2x-small);
}

.day-popup__event-label {
  color: var(--op-color-neutral-on-plus-six-alt);
  font-size: var(--op-font-2x-small);
}

.day-popup__event-button  {
  padding: var(--op-space-3x-small);
}
