.header {
  display: flex;
  justify-content: center;
  align-items: center;

  .header__label {
    padding: var(--op-space-x-small) var(--op-space-small) var(--op-space-small) var(--op-space-small);
    border-radius: var(--op-radius-large);
    z-index: 1;
    background-color: var(--op-color-primary-base);
    box-shadow: var(--op-color-neutral-plus-four) 0px 1px 1px, var(--op-color-neutral-plus-four) 0px 0px 1px 1px;
    color: var(--op-color-neutral-plus-max);

    font-weight: var(--op-font-weight-semi-bold);
    font-size: var(--op-font-3x-large);
    text-decoration: none;

    /* --op-breakpoint-small */
    @media only screen and (max-width: 768px) {
      border-radius: var(--op-radius-small);
    }
  }

  .header__year {
    margin-bottom: -3px;
  }

  .header__nav {
    display: flex;
    align-items: center;
    gap: var(--op-space-x-small);
    /* --op-breakpoint-small */
    @media only screen and (max-width: 768px) {
      gap: 0;
    }
  }

  .header__wing {
    --_header-wing-radius: var(--op-radius-large);
    --_header-wing-height: calc(var(--op-size-unit) * 9);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--op-space-2x-small);

    height: var(--_header-wing-height);

    padding-inline: var(--op-space-x-small);
    box-shadow: var(--op-color-neutral-plus-four) 0px 1px 1px, var(--op-color-neutral-plus-four) 0px 0px 1px 1px;

    background-color: var(--op-color-neutral-plus-max);
    color: var(--op-color-neutral-plus-max);

    &.header__wing--left {
      border-top-left-radius: var(--_header-wing-radius);
      border-bottom-left-radius: var(--_header-wing-radius);
    }

    &.header__wing--right {
      border-top-right-radius: var(--_header-wing-radius);
      border-bottom-right-radius: var(--_header-wing-radius);
    }

    /* --op-breakpoint-small */
    @media only screen and (max-width: 768px) {
      padding-inline: var(--op-space-2x-small);
      --_header-wing-height: calc(var(--op-size-unit) * 11);
    }
  }
}

.header__logo {
  max-width: 180px;
}

.header--main {
  .header__logo {
    /* --op-breakpoint-small */
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

.app__header {
  position: unset;
}
