.header {
  display: flex;
  justify-content: center;
  align-items: center;

  // Elements
  .header__label {
    padding-block: var(--op-space-small); // top to bottom
    padding-inline: var(--op-space-large); // left to right
    border-radius: var(--op-radius-x-large);
    box-shadow: var(--op-shadow-medium);

    background-image: linear-gradient(43deg, var(--op-color-primary-plus-two) 0%, var(--op-color-secondary-original) 46%, var(--op-color-primary-base) 100%);
    background-color: var(--op-color-primary-plus-seven);
    color: var(--op-color-neutral-plus-max);

    font-weight: var(--op-font-weight-semi-bold);
    font-size: var(--op-font-3x-large);
    text-decoration: none;
  }

  .header__nav {
    display: flex;
    align-items: center;
    gap: var(--op-space-x-small);
  }

  .header__wing {
    --_header-wing-radius: var(--op-radius-x-large);
    --_header-wing-height: calc(var(--op-size-unit) * 9); // 36px

    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--_header-wing-height);

    padding-inline: var(--op-space-x-small);
    box-shadow: var(--op-color-primary-base) 0px 1px 1px, var(--op-color-primary-base) 0px 0px 1px 1px;

    background-color: var(--op-color-neutral-plus-max);
    color: var(--op-color-neutral-plus-max);

    &.header__wing--left {
      border-top-left-radius: var(--_header-wing-radius);
      border-bottom-left-radius: var(--_header-wing-radius);
    }

    &.header__wing--right {
      border-top-right-radius: var(--_header-wing-radius);
      border-bottom-right-radius: var(--_header-wing-radius);
    }
  }
}
