@keyframes hero-transform {
  0% {transform: scale(1.0);}
  50% {transform: scale(0.99);}
  100% {transform: scale(1.02);}
}

@keyframes hero-untransform {
  0% {transform: scale(1.02);}
  100% {transform: scale(1.00);}
}

.hero {
  --_hero-card-width: calc(var(--op-size-unit) * 250); // 1000px
  --_hero-card-radius: calc(var(--op-size-unit) * 13); // 52px
  --_hero-graphic-width: 80%;
  --_hero-graphic-max-height: 70vh;
  --_hero-graphic-radius: var(--op-radius-2x-large);
  --_hero-title-font-size: calc(var(--op-font-scale-unit) * 7.2); // 55px
  --_hero-graphic-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.12), 0px 0px 100px 32px rgba(0, 0, 0, 0.12);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // Elements

  .hero__card {
    display: flex;
    justify-content: center;
    max-width: var(--_hero-card-width);
    width: 100%;

    border-top-left-radius: var(--_hero-card-radius);
    border-bottom-right-radius: var(--_hero-card-radius);

    box-shadow: var(--op-color-primary-plus-three) 0px 6px 24px 0px, var(--op-color-primary-plus-four) 0px 0px 0px 1px;

    .card__body {
      display: flex;
      flex-direction: column;
      gap: var(--op-space-large);
      justify-content: center;

      padding: var(--op-space-3x-large);
    }
  }

  .hero__content {
    padding: var(--op-space-5x-large) var(--op-space-3x-large);
    display: flex;
    flex-direction: column;
    gap: var(--op-space-small);
    text-align: center;

    /* --op-breakpoint-small */
    @media only screen and (max-width: 768px) {
      padding-top: var(--op-space-2x-large);
    }
  }

  .hero__title {
    font-family: var(--op-font-family-secondary);
    font-weight: var(--op-font-weight-normal);
    font-size: var(--_hero-title-font-size);
    line-height: var(--op-line-height-denser);

    /* --op-breakpoint-small */
    @media only screen and (max-width: 768px) {
      --_hero-title-font-size: calc(var(--op-font-scale-unit) * 5.6);
      padding-top: var(--op-space-2x-large);
    }
  }

  .hero__message {
    font-size: var(--op-font-x-large);
    font-family: var(--op-font-family-tertiary);

    /* --op-breakpoint-small */
    @media only screen and (max-width: 768px) {
      font-size: var(--op-font-large);
    }
  }

  .hero__graphic {
    animation: hero-untransform ease-out 0.25s;
    max-height: var(--_hero-graphic-max-height);
    max-width: var(--_hero-graphic-width);
    position: absolute;
    bottom: calc(var(--op-space-5x-large) * -1);
    box-shadow: var(--_hero-graphic-box-shadow);

    border-top-left-radius: var(--_hero-graphic-radius);
    border-top-right-radius: var(--_hero-graphic-radius);

    &:hover {
      animation: hero-transform ease-in-out 0.25s forwards;
    }

    /* --op-breakpoint-small */
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .hero__graphic--mobile {
    --_hero-graphic-max-height: 98dvh;
    display: none;
    animation: hero-untransform ease-out 0.25s;
    max-height: var(--_hero-graphic-max-height);

    box-shadow: var(--_hero-graphic-box-shadow);

    border-top-left-radius: var(--_hero-graphic-radius);
    border-top-right-radius: var(--_hero-graphic-radius);

    &:active {
      animation: hero-transform ease-in-out 0.25s forwards;
    }

    /* --op-breakpoint-small */
    @media only screen and (max-width: 768px) {
      display: block;
    }
  }

  // Modifiers

  &.hero--primary {
    color: var(--op-color-primary-on-base);
  }

  a {
    color: var(--op-color-white);
    text-decoration: underline;
  }
}

 /*
  Note: Not used at the moment, but could be a modifier of the `hero__graphic` element
  .home-page__hero--graphic {
    position: absolute;
    width: 600px;
    height: 350px;
    right: 200px;
    z-index: -1;
    border-radius: 63% 37% 24% 76% / 51% 56% 44% 49%;
    background-image: linear-gradient(43deg, var(--op-color-primary-plus-two) 0%, var(--op-color-primary-minus-one) 46%, var(--op-color-primary-base) 100%);
    opacity: 0.8;
  }
*/
