.month {
  border-radius: var(--op-radius-x-large);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: var(--op-color-neutral-plus-max);
  padding: var(--op-space-small);
  width: 100%;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--op-space-small);
  position: relative;
  max-width: 40rem;

  @media only screen and (max-width: $breakpoint-small) {
    display: block;
  }
}

.month__illustration {
  position: absolute;
  top: var(--op-space-large);
  width: 60%;
  left: 20%;
  border-bottom: solid 3px rgba(112, 51, 180, 0.29);
}

.month__illustration--1 { border-color: rgba(166, 108, 231, 0.22); }
.month__illustration--2 { border-color: rgba(91, 115, 211, 0.24); }
.month__illustration--3 { border-color: rgba(66, 176, 180, 0.29); }
.month__illustration--4 { border-color: rgba(222, 55, 214, 0.37); }
.month__illustration--5 { border-color: rgba(0, 128, 9, 0.27); }
.month__illustration--6 { border-color: rgba(146, 187, 0, 0.55); }
.month__illustration--7 { border-color: rgba(255, 229, 63, 0.87); }
.month__illustration--8 { border-color: rgba(255, 183, 0, 0.83); }
.month__illustration--9 { border-color: rgba(189, 113, 0, 0.79); }
.month__illustration--10 { border-color: rgba(187, 36, 36, 0.94); }
.month__illustration--11 { border-color: rgba(168, 88, 0, 0.91); }
.month__illustration--12 { border-color: rgba(28, 60, 231, 0.78); }

.month__illustration-indicator {
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: var(--op-color-primary-base);
  border-radius: 50%;
  top: calc(var(--op-space-large) - 3px);
}

.month__illustration-indicator--1 { left: 22%; }
.month__illustration-indicator--2 { left: 24%; }
.month__illustration-indicator--3 { left: 29%; }
.month__illustration-indicator--4 { left: 33%; }
.month__illustration-indicator--5 { left: 37%; }
.month__illustration-indicator--6 { left: 42%; }
.month__illustration-indicator--7 { left: 57%; }
.month__illustration-indicator--8 { left: 61%; }
.month__illustration-indicator--9 { left: 68%; }
.month__illustration-indicator--10 { left: 69%; }
.month__illustration-indicator--11 { left: 72%; }
.month__illustration-indicator--12 { left: 76%; }

.month-name {
  font-weight: var(--op-font-weight-bold);
  text-align: center;
  z-index: 1;
  background-color: var(--op-color-neutral-plus-max);
}

.month-days {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  div {
    align-self: center;
    justify-self: center;
  }
}

.month-day-names {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  div {
    color: var(--op-color-neutral-plus-two);
    font-size: var(--op-font-small);
    text-align: center;
  }
}

.month-form {
  button[data-trix-action='decreaseNestingLevel'], button[data-trix-action='increaseNestingLevel'] {
    display: none;
  }
}
