.month {
  border-radius: var(--op-radius-x-large);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: var(--op-color-neutral-plus-max);
  padding: var(--op-space-small);
  width: 100%;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--op-space-small);
  position: relative;
  max-width: 40rem;
  min-width: 36rem;
}

.month-name {
  font-weight: var(--op-font-weight-bold);
  text-align: center;
  z-index: 1;
}

.month-name--scribble {
  background-repeat: no-repeat;
  position: absolute;
  width: 5rem;
  height: 5rem;
  transform: scale(1.2);
  top: var(--op-space-large);
  right: calc(50% - var(--op-space-2x-large));
  z-index: 0;
}

.month-name--scribble-1 {
  background-image: url('scribbles/scribble_1.svg');
  top: var(--op-space-small);
}
.month-name--scribble-2 {
  background-image: url('scribbles/scribble_2.svg');
  top: var(--op-space-small);
}
.month-name--scribble-3 { background-image: url('scribbles/scribble_3.svg'); }
.month-name--scribble-4 { background-image: url('scribbles/scribble_4.svg'); }

.month-days {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  div {
    align-self: center;
    justify-self: center;
  }
}

.month-day-names {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  div {
    color: var(--op-color-neutral-plus-two);
    font-size: var(--op-font-small);
    text-align: center;
  }
}
