.quarter {
  padding: var(--op-space-x-small);
  width: 100%;

  height: 38rem;
  display: flex;
  overflow-x: scroll;
  justify-content: space-around;
  gap: var(--op-space-medium);
  scrollbar-width: none;  /* Firefox */
}
