.realmoji {
  position: relative;

  .avatar {
    z-index: 1;
  }

  .realmoji__emoji {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: var(--op-line-height-densest);

    z-index: 2;
  }
}
